<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangd.dao.ManagerDAO">
    <resultMap id="managerMap" type="com.wangd.pojo.Manager">
        <result column="mg_id" property="id"/>
        <result column="mg_name" property="username"/>
        <result column="mg_pwd" property="password"/>
        <result column="mg_time" property="registrationTime"/>
        <result column="role_id" property="roleId"/>
        <result column="mg_mobile" property="mobile"/>
        <result column="mg_email" property="email"/>
        <result column="mg_state" property="state"/>
        <association property="role" column="role" javaType="com.wangd.pojo.Role">
            <result column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="ps_ids" property="roleIds"/>
            <result column="ps_ca" property="controllerOperation"/>
            <result column="role_desc" property="roleDesc"/>
        </association>
    </resultMap>



    <select id="queryManager" resultMap="managerMap" parameterType="String">
        SELECT * FROM sp_manager WHERE mg_name=#{username} AND mg_pwd=#{password}
    </select>

    <select id="byUsernameQueryManager" resultMap="managerMap">
        SELECT * FROM sp_manager as manager LEFT JOIN sp_role as role on manager.role_id=role.role_id
    <if test="queryParam != null">
        WHERE manager.mg_name LIKE '%${queryParam}%'
    </if>
        LIMIT ${pageNumber}, ${pageSize}
    </select>

    <insert id="insertManager" parameterType="com.wangd.pojo.Manager" keyProperty="id" useGeneratedKeys="false" keyColumn="mg_id">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        insert into sp_manager(mg_name, mg_pwd, mg_email, mg_mobile, mg_time) values (#{username}, #{password}, #{email}, #{mobile}, #{registrationTime})
    </insert>
</mapper>
