<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangd.dao.RoleDAO">
    <resultMap id="roleMap" type="role">

        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="ps_ids" property="roleIds"/>
        <result column="ps_ca" property="controllerOperation"/>
        <result column="role_desc" property="roleDesc"/>

    </resultMap>
    <select id="queryAllRole" resultMap="roleMap">
        select * from sp_role
    </select>

    <insert id="addRole" parameterType="role">
        <!--keyProperty属性可以设置为Role对应的成员变量名称-->
        <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="roleId">
            select last_insert_id()
        </selectKey>
        insert into sp_role(role_name, role_desc) values (#{roleName}, #{roleDesc})
    </insert>

    <select id="queryOneRole" resultMap="roleMap">
        select * from sp_role where role_id = #{roleId,jdbcType=INTEGER}
    </select>
    <update id="updateRole" parameterType="role">
        update sp_role
        <!--为了放置直接使用choose标签 在条件的最后多处 逗号(,) 所以使用set标签进行包裹-->
        <set>
            <choose>
                <when test="roleName != null and roleName != ''">
                    role_name=#{roleName},
                </when>
                <when test="roleDesc!=null and roleDesc != ''">
                    role_desc=#{roleDesc},
                </when>
                <when test="roleIds != null and roleIds != ''">
                    ps_ids = #{roleIds}
                </when>
            </choose>
        </set>

        <where>
            role_id=#{roleId}
        </where>
    </update>



    <delete id="deleteByRoleId" parameterType="java.lang.Integer">
        delete from sp_role where role_id = #{roleId}
    </delete>

    <update id="updateRoleIds">
        update sp_role set ps_ids = #{roleIds} where role_id = #{roleId}
    </update>
</mapper>
